body{
    text-align: center;
    background-image: linear-gradient( 0deg,
    #D0E562,
    #93C48B);
    overflow: auto;
    background-repeat: no-repeat;
    height: 715px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}

.square{
        width: 100px;
        height: 100px;
        background-color: beige;
        border: 1px solid gray;
        display: inline-block;
    }

.o{
position: relative;
}

.o:after{
    content: "\1F6E1";
    font-size: 50px;
    position: absolute;
    line-height: 100px;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
}

.x{
    position: relative;
}


.x::after{
    content: "\2694";
    font-size: 50px;
    position: absolute;
    line-height: 100px;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
}

